@font-face {
     font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Outfit Light'), local('Roboto-Light'), url(300.woff) format('woff');
}
@font-face {
     font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Outfit'), local('Roboto-Regular'), url(400.woff) format('woff');
}
@font-face {
    font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Outfit Bold'), local('Roboto-Bold'), url(700.woff) format('woff');
}
