@font-face {
     font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Poppins'), local('Roboto-Light'), url(300.woff) format('woff');
}
@font-face {
     font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Roboto-Regular'), url(400.woff) format('woff');
}
@font-face {
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Poppins'), local('Roboto-Bold'), url(700.woff) format('woff');
}
